.come-test h1 {
  font-weight: bolder;
  text-align: center;
  font-size: 45px;
  margin-bottom: 70px;
  color: #04345c;
}
.come-test {
  margin-top: 50px;
  padding-left: 140px;
}
.come-test .left-col {
  padding-right: 70px;
  color: rgb(104, 98, 98);
}
.come-test .left-col .fast-p {
  margin-bottom: 30px;
}
.come-test .left-col h5 {
  color: #da0606;
}
.come-test .right-col .w-full {
  width: 70%;
  padding-left: 40px;
}

.Connected {
  margin-top: 70px;
  margin-bottom: 70px;
}
.Connected .left-col {
  padding-left: 240px;
  padding-right: 50px;
}
.Connected .left-col .w-full {
  width: 80%;
}
.Connected .right-col h1 {
  font-weight: bolder;
  font-size: 35px;
}
.popular-test {
  background-color: #04345c;
  padding-left: 140px;
  padding-right: 140px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 80px;
}
.popular-test h2 {
  color: #e04420;
  padding-bottom: 10px;
}
.popular-test h5 {
  color: #fff;
  margin-bottom: 50px;
}
.popular-test .left-col {
  padding-left: 200px;
}
.popular-test .left-col .form-select {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px !important;
  font-weight: 700;
}

.popular-test .right-col {
  padding-right: 200px;
}
.popular-test .right-col .form-select {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px !important;
  font-weight: 700;
}
.popular-test .right-col-tow {
  padding-left: 0;
}
