* {
  margin: 0;
  padding: 0;
}

/* navbar */

.navbar-brand {
  width: 250px;
}
.navbar-brand img {
  width: 50%;
}
#home-menu {
  height: 40px;
  width: 70px;
  background-color: #04345c;
  color: #fff;
}
.nav-link {
  font-weight: 700;
  color: #000;
  letter-spacing: 0.5px;
  font-size: 17px;
  transition: all 0.5s;
}
.nav-link:hover {
  background-color: #04345c;
  border-radius: 6px;
  color: #fff;
}
.dropdown:hover .dropdown-menu {
  background-color: #04345c;
  /* color: #fff; */
}
.dropdown-item {
  color: #fff;
  font-weight: 600;
}
.dropdown-menu {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

/* banner */
.banner {
  position: relative;
  background-image: linear-gradient(90deg, #04345c 0%, #e04420 50%);
  height: 90vh;
  padding-bottom: 100px;
  padding-top: 80px;
}
.banner .right-col img {
  width: 110%;
  height: 100%;
}
.banner .left-col {
  padding-top: 90px;
  color: #fff;
}
.banner .left-col h1 {
  font-weight: bolder;
  font-size: 45px;
  padding-bottom: 20px;
}
.banner .left-col .buttonn {
  margin-top: 50px !important;
  padding: 13px 40px 13px 40px;
  border-radius: 50px !important;
}
.banner .left-col .buttonn a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
}
.custom-shape-divider-bottom-1637821140 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1637821140 svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 170px;
}

.custom-shape-divider-bottom-1637821140 .shape-fill {
  fill: #fffdfd;
}
.come-test h1 {
  font-weight: bolder;
  text-align: center;
  font-size: 45px;
  margin-bottom: 70px;
  color: #04345c;
}
.come-test {
  margin-top: 50px;
}

.come-test .left-col {
  padding-right: 70px;
  color: rgb(104, 98, 98);
  padding-left: 140px;
}
.come-test .left-col .fast-p {
  margin-bottom: 30px;
}
.come-test .left-col h5 {
  color: #da0606;
}
.come-test .right-col .w-full {
  width: 70%;
  padding-left: 40px;
}

.Connected {
  margin-top: 70px;
  margin-bottom: 70px;
}
.Connected .left-col {
  padding-left: 240px;
  padding-right: 50px;
}
.Connected .left-col .w-full {
  width: 80%;
}
.Connected .right-col h1 {
  font-weight: bolder;
  font-size: 35px;
  color: #04345c;
}
.popular-test {
  background-color: #04345c;

  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.popular-test h2 {
  color: #e04420;
  padding-bottom: 10px;
}
.popular-test h5 {
  color: #fff;
  margin-bottom: 50px;
}
.popular-test .left-col {
  padding-left: 200px;
}
.popular-test .left-col h4 {
  text-align: left !important;
  color: #fff;
}
.popular-test .left-col .form-select {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px !important;
  font-weight: 700;
}

.popular-test .right-col {
  padding-right: 200px;
}
.popular-test .right-col h4 {
  text-align: left !important;
  color: #fff;
}
.popular-test .right-col .form-select {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px !important;
  font-weight: 700;
}
.popular-test .right-col-tow {
  padding-left: 0;
}

.Our-Specialities {
  background-color: #edf9f4;
  padding-top: 60px;
  font-weight: bolder;
  padding-bottom: 60px;
}

.Our-Specialities .left-col h2 {
  padding-bottom: 15px;
  color: #e04420;
}
.Our-Specialities .left-col p {
  font-size: 18px;
  color: #585c5f;
}
.Specialities-item {
  background-color: #fff;
  padding: 35px;
  box-shadow: -15.849px 13.777px 36px 0px rgba(91, 101, 118, 0.15);
  border-radius: 8px;
  transition: all 0.5s;
}
.Specialities-item:hover {
  transform: scale(1.1);
}
.Specialities-item a {
  background-color: rgb(245, 158, 143);
  padding: 13px 10px;
  border-radius: 5px;
}
.Specialities-item a i {
  color: #04345c;
  font-size: 22px;
}

.Specialities-item h4 {
  padding-top: 30px;
  color: #04345c;
}
.Specialities-item p {
  font-size: 15px;
  color: #585c5f;
}
.Specialities-item-tow {
  padding-top: 40px;
}
.Our-Popular-Test {
  width: 100% !important;
}
.Our-Popular-Test .left-col {
  background-color: #04345c;
  padding-top: 50px;
}
.Our-Popular-Test .left-col h2 {
  padding-left: 50px;
  color: #fff;
  padding-bottom: 30px;
}
.Our-Popular-Test .left-col .left-col-item img {
  border-radius: 50%;
  text-align: center;
  margin-bottom: 15px;
  transition: all 0.5s;
}
.Our-Popular-Test .left-col .left-col-item {
  text-align: center;
}
.Our-Popular-Test .left-col .left-col-item h4 {
  color: #e04420;
}
.Our-Popular-Test .left-col .left-col-item img:hover {
  transform: scale(1.1);
}
.Our-Popular-Test .left-col .left-col-2nd {
  margin-top: 30px;
}
/* footer */
.footer {
  color: #fff;
  background-color: #00111f;
}
.footer img {
  width: 100%;
}
.footer #call {
  font-size: 13px;
  color: #dad9d9;
  letter-spacing: 0.5px;
}
.footer #num {
  font-size: 30px;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .footer img {
    display: none;
  }
}
